project.lock.json
[Bb]in/
[Oo]bj/
.DS_Store
.vscode

# terraform compiled files
*.tfstate
*.tfstate.backup

# terraform module directory
.terraform/

# terraform plan
*.plan

# terraform vars
*.tfvars

# acs-engine
_output/
translations/